.traffic {
  height: 560px;
  width: 250px;
  border-radius: 20px;
  background-color: #2F2A29;  
}
.stick {
  height: 50px ;
  width: 30px;
  background-color: #2F2A29;   
}

.light {
  height: 160px;
  width: 160px;  
  cursor: pointer;   
 }

.light.selected {
  box-shadow:#DCDCDC 0px 0px 50px 50px;  
}
.light.red {
  background-image: radial-gradient(circle,#FC9E9A, #E80B0B, #E35050);
}
.light.yellow{
  background-image: radial-gradient(circle,#FBFC9A, #E0E308, #F7F964);
}
.light.green{
  background-image: radial-gradient(circle,#A8FC9A, #1ECF00, #91FD7F);
}